<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <form #formProducto="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-workItem">

        <label>
          Name

        </label>
        <input type="text" #nombre="ngModel" name="name" [(ngModel)]="workItemsC.name" class="form-control" required />

        <label>
          Descripción

        </label>
        <textarea #descripcion="ngModel" name="description" [(ngModel)]="workItemsC.description" class="form-control" required></textarea>

        <br/>
        <input type="submit" value="Save" class="btn btn-success" id="createItemBtn"/>
        <input type="button" value="Cancel" routerLink="../workItemClassificationList" class="btn btn-cancel" />
      </form>
    </div>
  </div>
</div>



