
/* optional Container STYLES */
.chart { height: 90%; width: 100% !important; margin: 5px; margin: 15px auto; border: 3px solid #DDD; border-radius: 3px; }

.tennis-draw {
    font-size: 10px;
    width: 100px;
}

.tennis-draw.winner {
  height: 38px;
  border: 1px solid #000;
  background: #fff;
  width: 80px;
  height: 80px;
  border-radius: 100px;
}
/*.tennis-draw.winner:hover { background: url('trophy.png') right 0 no-repeat; }*/
.tennis-draw.winner .node-name { padding-left: 10px; margin-top: 1px; display: block; }

.tennis-draw .node-name { padding: 2px; white-space: pre; color: #000; }
.tennis-draw .node-desc { display:none; padding: 2px; color: #999; }

.tennis-draw.first-draw .node-title,
.tennis-draw.first-draw .node-name,
.tennis-draw.first-draw img { position: relative; top: -12px; }
.tennis-draw.first-draw:hover img {
  width: 24px;
  height: 24px;
  top: -12px;
}

.tennis-draw.first-draw { width: 165px; height: 20px; }
.tennis-draw.first-draw img { margin: 3px 4px 0 0; left: 25px; }
.tennis-draw.first-draw .node-title { margin-top: 3px; }
.tennis-draw.first-draw .node-name { width: 200px; padding-left: 50px; margin-left: 70px; top: -30px;}
.tennis-draw.first-draw.bye .node-name { color: #999; }
.tennis-draw.first-draw a span i{
  font-size: 20px;
  position: relative;
  top: -13px;
  left: 25px;
  margin-right: 10px;
}

.tennis-draw.first-draw .remove-node{
  position: relative;
  color: #c9302c;
  font-size: 10px;
  top: -20px;
  margin-left: 20px;
}

