<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <div class="col-md-12 text-left">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button id="NewEmployeeBtn" type="button" class="btn btn-default" [routerLink]="['../newEmployee']"> New Employee </button>
        </div>
      </div>
      <br/>
      <br/>

      <table id="employeeTable" class="table table-bordered table-striped table-case">
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        <th>Role</th>
        <th>Department</th>
        </thead>
        <tbody>
        <tr  *ngFor = "let employee of employees">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.dateOfBirth| date: 'shortDate'}}</td>
          <td>{{employee.roleEmployee.name}}</td>
          <td>{{employee.departmentEmployee.name  }}</td>

          <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button type="button" [routerLink]="['../editEmployee']" [queryParams]="{employeeId: employee.employeeId}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </p>
          </td>

          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button type="button" (click)="deleteEmployee(employee.employeeId)" class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </p>
          </td>
        </tr>

        </tbody>
      </table>

      <ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
  </div>
</div>
