<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <form #formExistingPpe="ngForm" class="col-lg-6" id="form-existing-ppe">
        <label>
          Detail

        </label>
        <input type="text" #nombre="ngModel" name="detail" [(ngModel)]="existingPpe.detail" class="form-control" required />

        <label>
          Purchase date (YYYY-MM-DD)

        </label>
        <input type="text" #nombre="ngModel" name="purchaseDate" [(ngModel)]="existingPpe.purchaseDate" class="form-control" required />

        <label>
          Life time days

        </label>
        <input type="text" #nombre="ngModel" name="lifeTimeDays" [(ngModel)]="existingPpe.lifeTimeDays" class="form-control" required />

        <label>
          Current lifeTime days

        </label>
        <input type="text" #nombre="ngModel" name="currentLifeTimeDays" [(ngModel)]="existingPpe.currentLifeTimeDays" class="form-control" required />

        <label>
          Personal protection equipment classification

        </label>

        <select #ppeClassificationId="ngModel" name="ppeId" [(ngModel)]="existingPpe.ppeId" class="form-control"  required>
          <option *ngFor="let ppe of ppes" [value]="ppe.ppeId">{{ppe.name}}</option>
        </select>

        <br/>
        <input type="submit" value="Update" (click)="onSubmit(existingPpe.existingPpeId)" class="btn btn-success"/>

      </form>
    </div>
  </div>
</div>
