<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <div class="col-md-12 text-left">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button id="newRoleBtn" type="button" class="btn btn-default" [routerLink]="['../newRole']">New Role</button>
        </div>
      </div>
      <br/>
      <br/>

      <table id="roleTable" class="table table-bordered table-striped table-case">
        <thead>
        <th>Name</th>
        <th>Description</th>
        </thead>
        <tbody>
        <tr  *ngFor = "let role of roles">
          <td>{{role.name}}</td>
          <td>{{role.description}}</td>

          <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button type="button" [routerLink]="['../editRole']" [queryParams]="{roleId: role.roleId}" class="btn btn-primary btn-xs editBtn" data-title="Edit" data-toggle="modal" data-target="#edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </p>
          </td>

          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button type="button" (click)="deleteRole(role.roleId)" class="btn btn-danger btn-xs deleteBtn" data-title="Delete" data-toggle="modal" data-target="#delete">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </p>
          </td>


        </tr>

        </tbody>
      </table>

      <ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
  </div>
</div>
