<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <form #formPpeClassification="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-ppeClassification">
        <label>
          Name

        </label>
        <input id="txtPpeClassificationName" type="text" #nombre="ngModel" name="name" [(ngModel)]="ppeClassification.name" class="form-control" required />

        <label>
          Description

        </label>
        <textarea id="txtPpeClassificationDescription" #descripcion="ngModel" name="description" [(ngModel)]="ppeClassification.description" class="form-control" required></textarea>

        <br/>
        <input id="btnPpeClassificationSave" type="submit" value="Save" class="btn btn-success"/>
        <input id="btnPpeClassificationCancel" type="button" value="Cancel" routerLink="../ppeClassificationList" class="btn btn-cancel"/>

      </form>
    </div>
  </div>
</div>
