<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <form #formAudit="ngForm" class="col-lg-6" id="form-audit">
        <label>
          Name
        </label>
        <input type="text" #auditName="ngModel" name="auditName" [(ngModel)]="audit.auditName" class="form-control" required />

        <label>
          Code
        </label>
        <input type="text" #auditCode="ngModel" name="auditCode" [(ngModel)]="audit.auditCode" class="form-control" required />

        <label>
          Type:
        </label>
        <select type="text" #auditType="ngModel" name="auditType" [(ngModel)]="audit.auditType" class="form-control" required>
          <option value="INTERNAL">Internal</option>
          <option value="EXTERNAL">External</option>
        </select>

        <label>
          periodicity:
        </label>
        <select type="text" #periodicity="ngModel" name="periodicity" [(ngModel)]="audit.periodicity" class="form-control" required>
          <option value="MONTHLY">MONTHLY</option>
          <option value="QUARTERLY">QUARTERLY</option>
          <option value="BIANNUAL">BIANNUAL</option>
          <option value="ANNUAL">ANNUAL</option>
        </select>
        
        <label>
          Department:
        </label>
        <select #departmentId="ngModel" name="departmentId" [(ngModel)]="audit.departmentId" class="form-control" required>
          <option *ngFor="let department of departments" [value]="department.departmentId">{{department.name}}</option>
        </select>

        <label>
          Scope
        </label>
        <textarea #auditScope="ngModel" name="auditScope" [(ngModel)]="audit.auditScope" class="form-control" required></textarea>

        <label>
          Objective
        </label>
        <textarea #auditObjective="ngModel" name="auditObjective" [(ngModel)]="audit.auditObjective" class="form-control" required></textarea>

        <label>
          Criteria
        </label>
        <textarea #auditCriteria="ngModel" name="auditCriteria" [(ngModel)]="audit.auditCriteria" class="form-control" required></textarea>

        <br/>
        <button type="button" class="btn btn-success" (click)="onSubmit(audit.auditId)"> Update </button>
      </form>
    </div>
  </div>
</div>