<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <div class="col-md-12 text-left">
        <div class="btn-group" role="group" aria-label="Basic example">
        </div>
        <button id="btn_createAccidentId" type="button" class="btn btn-default" [routerLink]="['../newAccident']">New Accident for Employee</button>
      </div>
      <br/>
      <br/>

      <table id="accidentTable" class="table table-bordered table-striped table-case">
        <thead>
        <th>Employee</th>
        <th>description</th>
        <th>Date accident occurred</th>
        <th>Where Occurred</th>
        <th>Category</th>
        <th>Total days employee was sick</th>
        <th>Type</th>
        </thead>
        <tbody>
        <tr  *ngFor = "let accidentEmployee of accidents">
          <td>{{accidentEmployee.employee.firstName}} {{accidentEmployee.employee.lastName}}</td>
          <td>{{accidentEmployee.description}}</td>
          <td>{{accidentEmployee.dateAccident | date: 'shortDate'}}</td>
          <td>{{accidentEmployee.whereOccurr}}</td>
          <td>{{accidentEmployee.saCategoryResponse.category}}</td>
          <td>{{accidentEmployee.totalDaysOutOfWork + accidentEmployee.totalDaysRestrictedTransferredWork}}</td>
          <td>{{accidentEmployee.saTypeResponse.type}}</td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Edit">
              <button type="button" [routerLink]="['../updateAccident']" [queryParams]="{accidentId: accidentEmployee.accidentId}" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
            </p>
          </td>
          <td>
            <p data-placement="top" data-toggle="tooltip" title="Delete">
              <button type="button" (click)="deleteAccidentEmployee(accidentEmployee.accidentId)" class="btn btn-danger btn-xs deleteBtn" data-title="Delete" data-toggle="modal" data-target="#delete">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </p>
          </td>
        </tr>

        </tbody>
      </table>

      <ul class="pagination pull-right">
        <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
      </ul>
    </div>
  </div>
</div>



