<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <form #formCreateSickness="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-Sickness">
        <label>
          select Employee:

        </label>
        <select #employeeId="ngModel" name="employeeId" [(ngModel)]="sickness.employeeId" class="form-control" required>

          <option *ngFor="let employee of employees" [value]="employee.employeeId" >{{employee.firstName}} {{employee.lastName}}</option>
        </select>

        <label>
          Sickness Description:

        </label>
        <input type="text" #nombre1="ngModel" name="description" [(ngModel)]="sickness.description" class="form-control" required />

        <label>
          when it Occurred?:

        </label>

        <input type="date" #dob="ngModel" name="dateSickness" [(ngModel)]="sickness.dateSickness" min="1900-01-01" class="form-control" required>

        <label>
          Where occurred the event?:

        </label>
        <input type="text" #nombre2="ngModel" name="whereOccurred" [(ngModel)]="sickness.whereOccurr" class="form-control" required />

        <label>
          Register the number of days the employee was injured or sick:
        </label>
        <br>
        <label>
          Total Days Out of Work

        </label>
        <input #totalDaysOutOfWork="ngModel" name="totalDaysOutOfWork" [(ngModel)]="sickness.totalDaysOutOfWork" class="form-control" required/>

        <label>
          Total Days Restricted/Transferred Work

        </label>
        <input #totalDaysRestrictedTransferredWork="ngModel" name="totalDaysRestrictedTransferredWork" [(ngModel)]="sickness.totalDaysRestrictedTransferredWork" class="form-control" required/>

        <label>
          Using these four categories, mark the most serious result for this case:
        </label>

        <select #saCategoryId="ngModel" name="saCategoryId" [(ngModel)]="sickness.saCategoryId" class="form-control" required>

          <option *ngFor="let category of saCategories" [value]="category.saCategoryId" >{{category.category}}</option>
        </select>

        <label>
          select the "injury" option or select a type of disease:
        </label>

        <select #saTypeId="ngModel" name="saTypeId" [(ngModel)]="sickness.saTypeId" class="form-control" required>

          <option *ngFor="let type of saTypes" [value]="type.saTypeId" >{{type.type}}</option>
        </select>

        <br/>
        <input id="saveBtn" type="submit" value="Save" class="btn btn-success"/>
        <button type="button" class="btn btncancel" routerLink="../sicknessList">Cancel</button>


      </form>
    </div>
  </div>
</div>
