<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">


      <form #formPpeClassification="ngForm" class="col-lg-6" id="form-ppe">
        <label>
          Name

        </label>
        <input id="txtPpeName" type="text" #nombre="ngModel" name="name" [(ngModel)]="ppe.name" class="form-control" required />

        <label>
          Description

        </label>
        <textarea id="txtPpeDescription" #descripcion="ngModel" name="description" [(ngModel)]="ppe.description" class="form-control" required></textarea>

        <label>
          Personal protection equipment classification

        </label>

        <select id="cbxPpeClassification" #ppeClassificationId="ngModel" name="ppeClassificationId" [(ngModel)]="ppe.ppeClassificationId" class="form-control"  required>

          <option [ngValue]="null">--Select--</option>
          <option *ngFor="let ppec of ppeClassifications" [value]="ppec.ppeClassificationId" >{{ppec.name}}</option>
        </select>

        <br/>
        <input id="btnPpeUpdate" type="submit" (click)="onSubmit(ppe.ppeId)" value="Update" class="btn btn-success"/>
        <input id="btnPpeCancel" type="button" value="Cancel" routerLink="../ppeList" class="btn btn-cancel"/>

      </form>
    </div>
  </div>
</div>
