<!DOCTYPE html>
<html lang="en">
<head>
    <style>
	@media print {
            .page-break { height:0; page-break-before:always; margin:0; border-top:none; }
        }
     body, p, span, td, a {font-size:9pt;font-family: Arial, Helvetica, sans-serif;}
     body{margin-left:2em; margin-right:2em;}
    .page{
    height:842px;
    padding-top:5px;
    page-break-after : always;   
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
	border-bottom:1px solid #000;
  }

    </style>
  </head>
	<body>
		<TABLE align='center' BORDER='0' WIDTH='98%' height='842px'>
			<tr height='150px'><td width='150px' align='left'><img src='assets/images/templatelogo.png' width='120' height='150px' alt=''/>    </td>    <td align='center'>     <span class='statetext'>State of California - Health and Human Services Agency</span><br/>                <span class='departmenttext'>Department of Health Care Services</span>    </td>    <td width='150px' align='right'>     <img src='assets/images/gov_logo.png' width='150px' alt=''/>    </td>   
			</TR>
			<TR height='10px'>
					 <td  valign='top' align='center'colspan='3'style='color: black;font-family:verdana'>     <SRTONG><h2> Deficiency – Post On-Site</h2></SRTONG>    </td> 
			</TR>
					<TR height='10px' valign='top' 	>
					<TD colspan='3'>
					 <span id='today'></span> <br/>    <span id='providerName'></span> <br/><span id='address'></span><br/><span id='location'></span><br/>Application Identification Number: <span id='applicationNumber'></span><br/>     DATE APPLICATION RECEIVED: <span id='dateCreated'></span><br/><br/><br/>
					</TD>
			</TR>
					<TR>
					<TD colspan='3' valign='top'>
					<p text-align='justify'>    The Department of Health Care Services, Provider Enrollment Division (PED) has reviewed your application in accordance with Section 14043.26 of the Welfare and Institutions (W&I) Code and CCR, Title 22, Section 51000.50, conducted an on-site review, and found that information in your application is incomplete and/or inaccurate and cannot be processed until all required information is received.
Please follow the directions below, update your Medi-Cal Provider e-Form Application where applicable, and resubmit within 60 calendar days of this letter to continue processing. Failure to resubmit a complete and accurate application may result in denial of your application.
The following information and/or corrections must be made for processing to continue:
«$Findings.TitleFinding» -	«$Findings.FindingDescription»
Pursuant to CCR, Title 22, section 51000.50(i), if you fail to return the requested information and/or document(s) with your application package within 60 calendar days of the date of the notice of incomplete application, or if the information and/or documents you provide do not resolve the deficiencies, your application shall be denied by operation of law.
PED appreciates your program participation and willingness to provide services to Medi-Cal beneficiaries. </p> 
					</TD>
			</TR>
			<TR height='10px' valign="bottom">
				<TD align='center' colspan='3' style='background: #313131;color: white;font-family:verdana'> <STRONG>Provider Enrollment Division<br/>MS 4704<br/>P.O. Box 997412, Sacramento, CA 95899-7412<br/>(916) 323-1945<br/>Internet Address: <a href='#'> http://www.DHCS.ca.gov </a></STRONG>    </TD>
			</TR>
		</TABLE>
	</body>
</html>
