<!DOCTYPE html>
<html lang="en">
<head>
    <style>
	@media print {
            .page-break { height:0; page-break-before:always; margin:0; border-top:none; }
        }
     body, p, span, td, a {font-size:9pt;font-family: Arial, Helvetica, sans-serif;}
     body{margin-left:2em; margin-right:2em;}
    .page{
    height:842px;
    padding-top:5px;
    page-break-after : always;   
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
	border-bottom:1px solid #000;
  }

    </style>
  </head>
	<body>
		<TABLE align='center' BORDER='0' WIDTH='98%' height='842px'>
			<tr height='150px'><td width='150px' align='left'><img src='assets/images/templatelogo.png' width='120' height='150px' alt=''/>    </td>    <td align='center'>     <span class='statetext'>State of California - Health and Human Services Agency</span><br/>                <span class='departmenttext'>Department of Health Care Services</span>    </td>    <td width='150px' align='right'>     <img src='assets/images/gov_logo.png' width='150px' alt=''/>    </td>   
			</TR>
			<TR height='10px'>
					 <td  valign='top' align='center'colspan='3'style='color: black;font-family:verdana'>     <SRTONG><h2> Denial - Resubmitted timely, but did not remediate all deficiencies – no onsite</h2></SRTONG>    </td> 
			</TR>
					<TR height='10px' valign='top' 	>
					<TD colspan='3'>
					 <span id='today'></span> <br/>    <span id='providerName'></span> <br/><span id='address'></span><br/><span id='location'></span><br/>Application Identification Number: <span id='applicationNumber'></span><br/>     DATE APPLICATION RECEIVED: <span id='dateCreated'></span><br/><br/><br/>
					</TD>
			</TR>
					<TR>
					<TD colspan='3' valign='top'>
					<p text-align='justify'>    The Department of Health Care Services (DHCS), Provider Enrollment Division (PED), in accordance with California Code of Regulations (CCR), Title 22, Section 51000.50, reviewed the Medi-Cal Provider e-Form Application requesting enrollment as a Medi-Cal provider located at $PDMAddress.AddressLine1, $PDMAddress.AddressLine2 in $PDMAddress.City. This application was reviewed under the Welfare & Institutions (W&I) Code and Regulations in effect at the time the application was received.
On $SDM_Resolution.DateCreated, DHCS notified you of the discrepancies found during the initial review of your e-Form application, received $ADMCase.DateCreated. You were given 60 days to remediate these discrepancies and provide documentation to DHCS that the discrepancies have been remediated. Based upon DHCS’ review of the resubmitted e-Form application, it has been determined that the discrepancies were not corrected. Therefore, DHCS is denying your application for enrollment.
CCR, Title 22, Section 51000.50(g)(3) states, “The application package is denied based on the applicant’s or provider’s failure to meet the criteria specified in subsection (a) or failure to comply with the requirements specified in this Chapter or its governing statutes.” W&I Code Section 14043.26(f)(4)(D) states, in relevant part, “…the department shall give written notice to the applicant or provider that…(4) The application package is denied for any of the following reasons…(D) For other stated reasons authorized by law.”
DHCS’s review found you failed to “satisfactorily” remediate the deficiencies identified by DHCS, as required in CCR, Title 22, Section 51000.50(a)(9). Consequently, you failed to submit a complete application package, as required in CCR, Title 22, Section 51000.30(a)(2)(A) and defined in CCR, Title 22, Section 51000.1.1. </p> 
					</TD>
			</TR>
			<TR height='10px' valign="bottom">
				<TD align='center' colspan='3' style='background: #313131;color: white;font-family:verdana'> <STRONG>Provider Enrollment Division<br/>MS 4704<br/>P.O. Box 997412, Sacramento, CA 95899-7412<br/>(916) 323-1945<br/>Internet Address: <a href='#'> http://www.DHCS.ca.gov </a></STRONG>    </TD>
			</TR>
		</TABLE>
	</body>
</html>
