<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-12 text-left">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button id="AssignSafetyRuleBtn" type="button" class="btn btn-default" [routerLink]="['../newSafetyRule']">Assign Safety Rule to Audit</button>
        </div>
      </div>
      <br/>
      <br/>
      <table id="safetyRuleTable" class="table table-bordered table-striped table-case">
        <thead>
          <th>Policy Code</th>
          <th>Policy Name</th>
          <th>Accomplishment</th>
          <th>Audit</th>
        </thead>
        <tbody>
          <tr *ngFor="let safetyRule of safetyRules">
            <td>{{ safetyRule.policyCode }}</td>
            <td>{{ safetyRule.policyName }}</td>
            <td>
              <span *ngIf="safetyRule.accomplishment === true" class="glyphicon glyphicon-ok"></span>
              <span *ngIf="safetyRule.accomplishment === false" class="glyphicon glyphicon-remove"></span>
            </td>
            <td>{{ safetyRule.audit.auditName }}</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination pull-right">
        <li class="disabled">
          <a href="#">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>